.page-body {
    min-height: 100%;  
    color: $primary-font-color;
    font-family: 'Lato', Arial, sans-serif;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;    
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}