$header-color: #10101d;
$white: #ffffff;
$highlight-color: #3e9cdc;
$active-color: #94c6e7;
$logo-hover: #297eb6;
$thumb-color: #42a9ed;
$primary-font-color: #272733;
$main-content-color: #2a2b30;
$bg-border: #286690;
$border-color: #6f6d7b;
$footer-color: #3d4050;

$mobilemin-width: 320px;
$mobilemax-width: 375px;
$tabletmin-width: 660px;
$tabletmax-width: 770px;
$desktopmin-width: 960px;
$desktopmax-width: 1440px;
