.contacts__list {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: center; 
    color: $white;
    min-height: 80px;

    @media (min-width: $desktopmin-width) {
        min-width: 30%;
        flex-direction: row;
    }   
}

.contacts__link {
    color: $white;
    text-decoration: none;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;         
}

.contacts__item:first-child {
    margin-right: 2vw;
}
